flows.json
[{"id":"5ab5403f.f6c95","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ca1f179c.74b198","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"ac97b334.12dee","type":"ui_group","z":"","name":"Default","tab":"ca1f179c.74b198","order":1,"disp":true,"width":"6","collapse":false},{"id":"8f6847b3.785d18","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"b27a6de3.a14b1","type":"ui_form","z":"5ab5403f.f6c95","name":"","label":"","group":"ac97b334.12dee","order":1,"width":0,"height":0,"options":[{"label":"Number Of Pregnencies","value":"np","type":"number","required":true,"rows":null},{"label":"Glucose Concentration","value":"gc","type":"number","required":true,"rows":null},{"label":"Diastolic Blood Pressure","value":"dp","type":"number","required":true,"rows":null},{"label":"Thickness","value":"ts","type":"number","required":true,"rows":null},{"label":"Insulin","value":"is","type":"number","required":true,"rows":null},{"label":"Body Mass Index","value":"bm","type":"number","required":true,"rows":null},{"label":"Diabetes Pedigree","value":"db","type":"number","required":true,"rows":null},{"label":"Age","value":"ag","type":"number","required":true,"rows":null},{"label":"Skin Thickness","value":"st","type":"number","required":true,"rows":null}],"formValue":{"np":"","gc":"","dp":"","ts":"","is":"","bm":"","db":"","ag":"","st":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":90,"y":280,"wires":[["be939b8.0ba5d68"]]},{"id":"3b82d7b3.19d378","type":"inject","z":"5ab5403f.f6c95","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":180,"wires":[["be939b8.0ba5d68"]]},{"id":"be939b8.0ba5d68","type":"function","z":"5ab5403f.f6c95","name":"","func":"global.set(\"np\",msg.payload.np)\nglobal.set(\"gc\",msg.payload.gc)\nglobal.set(\"dp\",msg.payload.dp)\nglobal.set(\"ts\",msg.payload.ts)\nglobal.set(\"is\",msg.payload.is)\nglobal.set(\"bm\",msg.payload.bm)\nglobal.set(\"db\",msg.payload.db)\nglobal.set(\"ag\",msg.payload.ag)\nglobal.set(\"st\",msg.payload.st)\nvar apikey=\"TjwCTMYMP2dD5hxFYMJ0vpA51u11Q71ysZ9mN9nGdaIA\";\nmsg.headers={\"Content-Type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type=urn\":\"ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":320,"wires":[["63df565e.01b0f8"]]},{"id":"63df565e.01b0f8","type":"http request","z":"5ab5403f.f6c95","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":490,"y":400,"wires":[["358003d7.a1bfdc"]]},{"id":"358003d7.a1bfdc","type":"function","z":"5ab5403f.f6c95","name":"","func":"var np=global.get('np')\nvar gc=global.get('gc')\nvar dp=global.get('dp')\nvar ts=global.get('ts')\nvar is=global.get('is')\nvar bm=global.get('bm')\nvar db=global.get('db')\nvar ag=global.get('ag')\nvar st=global.get('st')\nvar token=msg.payload.access_token\nvar instance_id=\"ab433071-ba9c-473d-918b-a4087a73cbb3\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer\"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"num_preg\", \"glucose_conc\", \"diastolic_bp\", \"thickness\", \"insulin\", \"bmi\", \"diab_pred\", \"age\", \"skin\"],\"values\": [[np,gc,dp,ts,is,bm,db,ag,st]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":300,"wires":[["894880ff.0505f"]]},{"id":"894880ff.0505f","type":"http request","z":"5ab5403f.f6c95","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/e60f6cb2-5429-4623-9c37-85bbd28bc737/predictions","tls":"","persist":false,"proxy":"","authType":"","x":750,"y":320,"wires":[["39bc156d.e08b5a","1c6c3052.2acfc"]]},{"id":"39bc156d.e08b5a","type":"function","z":"5ab5403f.f6c95","name":"","func":"msg.payload=msg.payload.predictions[0][0].values()\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":160,"wires":[["63133cbf.f80e84"]]},{"id":"63133cbf.f80e84","type":"ui_text","z":"5ab5403f.f6c95","group":"ac97b334.12dee","order":2,"width":0,"height":0,"name":"","label":"DIABETIC                                   ","format":"{{msg.payload}}","layout":"row-left","x":770,"y":420,"wires":[]},{"id":"1c6c3052.2acfc","type":"debug","z":"5ab5403f.f6c95","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":930,"y":180,"wires":[]}]